{% for item in tables %}
    <tr>
        <td>{{ item.number }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>
            <div class="package-descr">
                <p class="text-sm-muted mb-1">Featured: {{ item.featured }}</p>
                <p class="text-sm-muted mb-1">Urgent: {{ item.urgent }}</p>
                <p class="text-sm-muted mb-1">Posted:{{ item.posted }}</p>
                <p class="text-sm-muted mb-1">Post Limit: {{ item.limit }}</p>
                <p class="text-sm-muted mb-1">Post Duration: {{ item.duration }}</p>
            </div>
        </td>
        <td><span class="label text-light bg-{{ item.class }}">{{ item.title }}</span></td>
    </tr>
{% endfor %}