{% for item in candidates|slice(0, 12) %}
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="jbs-grid-usrs-block border">
            <div class="jbs-grid-usrs-thumb">
                <div class="jbs-grid-yuo jbs-verified">
                    <a href="{{ path('app_candidate_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}"><figure><img src="{{ asset( item.img ) }}" class="img-fluid circle" alt=""></figure></a>
                </div>
            </div>
            <div class="jbs-grid-usrs-caption">
                <div class="jbs-kioyer">
                    <div class="jbs-kioyer-groups">
                        <span class="fa-solid fa-star active"></span>
                        <span class="fa-solid fa-star active"></span>
                        <span class="fa-solid fa-star active"></span>
                        <span class="fa-solid fa-star active"></span>
                        <span class="fa-solid fa-star"></span>
                        <span class="aal-reveis">4.6</span>
                    </div>
                </div>
                <div class="jbs-tiosk">
                    <h4 class="jbs-tiosk-title"><a href="{{ path('app_candidate_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}">{{ item.title }}</a></h4>
                    <div class="jbs-tiosk-subtitle"><span>{{ item.subtitle }}</span></div>
                </div>
            </div>
            <div class="jbs-grid-usrs-info">
                <div class="jbs-info-ico-style bold">
                    <div class="jbs-single-y1 style-2"><span><i class="fa-solid fa-sack-dollar"></i></span>{{ item.number }}</div>
                    <div class="jbs-single-y1 style-3"><span><i class="fa-solid fa-coins"></i></span>{{ item.years }}</div>
                </div>
            </div>
            <div class="jbs-grid-usrs-contact">
                <div class="jbs-btn-groups">
                    <a href="#" class="btn btn-md btn-gray px-4">Message</a>
                    <a href="{{ path('app_candidate_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}" class="btn btn-md btn-main px-4">View Detail</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}