{% for item in jobs8 %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="job-instructor-layout border">
            <div class="left-tags-capt">
                
                {% if item.tag1 is defined and item.tag1 == true %}
                    <span class="featured-text">Featured</span>
                    <span class="urgent">Urgent</span>
                {% else %}
                    <span class="{{ item.class }}">{{ item.name }}</span>
                {% endif %}

            </div>
            <div class="brows-job-type"><span class="{{ item.style }}">{{ item.tag }}</span></div>
            <div class="job-instructor-thumb">
                <a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}"><img src="{{ asset( item.img ) }}" class="img-fluid" alt=""></a>
            </div>
            <div class="job-instructor-content">
                <div class="jbs-job-employer-wrap"><span>{{ item.app }}<span></span></span></div>
                <h4 class="instructor-title"><a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}">{{ item.title }}</a></h4>
                <div class="text-center text-sm-muted">
                    <span><i class="fa-solid fa-location-dot me-2"></i>{{ item.location }}</span>
                </div>
                <div class="jbs-grid-job-edrs-group center mt-2">
                    <span>HTML</span>
                    <span>CSS3</span>
                    <span>Java</span>
                    <span>Redux</span>
                </div>
            </div>
            <div class="jbs-grid-job-apply-btns px-3 py-3">
                <div class="jbs-btn-groups">
                    <div class="jbs-sng-blux"><div class="jbs-grid-package-title smalls"><h5>{{ item.price }}<span>\Year</span></h5></div></div>
                    <div class="jbs-sng-blux"><a href="JavaScript:Void(0);" class="btn btn-md btn-light-main px-4">{{ item.btn }}</a></div>
                </div>
            </div>
        </div>	
    </div>
{% endfor %}