{% for item in jobs6 %}
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <div class="jbs-grid-layout border">
            <div class="right-tags-capt">
                
                {% if item.tag1 is defined and item.tag1 == true %}
                    <span class="featured-text">Featured</span>
                    <span class="urgent">Urgent</span>
                {% else %}
                    <span class="{{ item.class }}">{{ item.name }}</span>
                {% endif %}

            </div>
            <div class="jbs-grid-emp-head">
                <div class="jbs-grid-emp-thumb"><a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}"><figure><img src="{{ asset( item.img ) }}" class="img-fluid" alt=""></figure></a></div>
            </div>
            <div class="jbs-grid-job-caption">
                <div class="jbs-job-employer-wrap"><span>{{ item.app }}</span></div>
                <div class="jbs-job-title-wrap"><h4><a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}" class="jbs-job-title">{{ item.title }}</a></h4></div>
            </div>
            <div class="jbs-grid-job-info-wrap">
                <div class="jbs-grid-job-info">
                    <div class="jbs-grid-single-info"><span><i class="fa-solid fa-user-group"></i>{{ item.year }}</span></div>
                    <div class="jbs-grid-single-info"><span><i class="fa-regular fa-clock"></i>{{ item.time }}</span></div>
                    <div class="jbs-grid-single-info"><span><i class="fa-solid fa-location-dot"></i>{{ item.location }}</span></div>
                </div>
            </div>
            <div class="jbs-grid-job-description">
                <p>{{ item.desc }}</p>
            </div>
            <div class="jbs-grid-job-edrs">
                <div class="jbs-grid-job-edrs-group">
                    <span>HTML</span>
                    <span>CSS3</span>
                    <span>Bootstrap</span>
                    <span>Redux</span>
                </div>
            </div>
            <div class="jbs-grid-job-package-info">
                <div class="jbs-grid-package-title"><h5>{{ item.price }}<span>\Year</span></h5></div>
                <div class="jbs-grid-posted"><span>{{ item.date }}</span></div>									
            </div>
            <div class="jbs-grid-job-apply-btns">
                <div class="jbs-btn-groups">
                    <a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}" class="btn btn-md btn-light-main px-4">View Detail</a>
                    <a href="JavaScript:Void(0);" class="btn btn-md btn-main px-4">Quick Apply</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}