{% for item in jobs14 %}
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="jbs-list-box border">
            <div class="jbs-list-head mb-0">
                <div class="jbs-list-head-thunner">
                    <div class="jbs-list-emp-thumb jbs-verified"><a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}"><figure><img src="{{ asset( item.img ) }}" class="img-fluid" alt=""></figure></a></div>
                    <div class="jbs-list-job-caption">
                        <div class="jbs-job-types-wrap mb-1"><span class="label text-success bg-success bg-opacity-05">{{ item.time }}</span></div>
                        <div class="jbs-job-title-wrap"><h4><a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}" class="jbs-job-title">{{ item.title }}</a></h4></div>
                        <div class="jbs-job-mrch-lists">
                            <div class="single-mrch-lists">
                                <span>{{ item.name }}</span>.<span><i class="fa-solid fa-location-dot me-1"></i>{{ item.location }}</span>.<span>{{ item.date }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jbs-list-head-middle">
                    <div class="elsocrio-jbs"><span class="text-sm-muted">{{ item.apply }}</span></div>
                </div>
                <div class="jbs-list-head-middle">
                    <div class="elsocrio-jbs"><span class="text-sm-muted text-light bg-{{ item.class }} py-2 px-3 rounded">{{ item.btn }}</span></div>
                </div>
                <div class="jbs-list-head-last">
                    <a href="JavaScript:Void(0);" class="btn btn-md btn-light-red px-3 me-2"><i class="fa-solid fa-xmark"></i></a>
                    <a href="{{ path('app_job_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}" class="btn btn-md btn-light-main px-3">View Detail</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}